<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="css/index.css" rel="stylesheet" type="text/css">
<script src="https://code.jquery.com/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Do You Dare ??</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="https://output.jsbin.com/gohuxavide">Home</a></li>
        <li><a href="https://output.jsbin.com/wusutux">Sign up</a></li>
        <li><a href="#">Survey</a></li>
        <li><a href="https://output.jsbin.com/qowoduguxo">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="parallax"id="parallax1">
  <center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <h1 class="head">Mind Surfer</h1>
    <h2 class="head">Are You Ready ?</h2>
  </center>
</div>

<div style="background-color:grey;font-size:36px">
<div class="container">
    <div class="row"id="dv1">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <center><h1>Welcome</h1></center>
        <hr
        <h3>Time Passes , Memories fade But Now you have the chance to experience it all over again !!
          But the question is are you ready to take a step back to the past ? </h3>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <img src="http://outofyourmind.com.au/wp-content/uploads/2014/09/Brain-Coloured-Dots2.png"class="img-responsive"id="img1">
      </div>
    </div>
</div>
</div>
  <div class="parallax"id="parallax1"></div>
  
 <div style="background-color:grey;font-size:36px">
<div class="container">
     <div class="row">
   <div class="aq col-sm-4 col-md-4 col-lg-4">
     <center><h1>Take Survey Now</h1></center>
     <hr>
     <img src="http://premiumsurveyjobs.com/media/images/survey-graphic.png"class="img-responsive a">
     <hr>
     <center><button class="button1">Let's Go</button></center>
      </div>
    <div class="aq col-sm-4 col-md-4 col-lg-4">
      <center><h1>Sign Up</h1></center>
      <hr>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Placeholder_no_text.svg/2000px-Placeholder_no_text.svg.png" class="img-responsive a"/>
      <hr>
      <center><button class="button2">We Are Waiting</button></center>
      </div>
    <div class="aq col-sm-4 col-md-4 col-lg-4">
      <center><h1>Contact Us</h1></center>
      <hr>
      <img src="https://lh3.googleusercontent.com/7rADIIAXkEedoq9sf6SO4ZiBXkpu-XQCJBxratH4Ij4D1LxH4NbvcdRPLmjdsxfG662h=w300"class="img-responsive a">
      <br>
      <hr>
      <center><button class="button3">Reach out</button></center>
      </div>
  </div>
 </div>
</div>
<div class="col-lg-12">
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-3  col-md-2 col-sm-4 col-xs-6">
                    <center>
                      
                      <h3> Mind Surfer </h3>
                      <ul>
                          <li> <a href="#"> Our Story </a> </li>
                          <li> <a href="#"> FAQs </a> </li>
                          <li> <a href="#"> Careers </a> </li>
                      </ul>
                      
                    </center>
                </div>
                <div class="col-lg-3  col-md-2 col-sm-4 col-xs-6">
                    <center>
                      
                      <h3> PAYMENT AND POLICY </h3>
                      <ul>
                          <li> <a href="#"> Our Policy </a> </li>
                          <li> <a href="#"> Privacy Policy </a> </li>
                          <li> <a href="#"> Terms &amp; Conditions </a> </li>
                      </ul>
                      
                    </center>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <center>
                      
                      <h3>SOCIAL</h3>
                      <ul>
                          <li>
                              <div class="input-append newsletter-box text-center">
                                  <input type="text" class="full text-center" placeholder="Email ">
                                  <button class="btn  bg-gray" type="button">Submit<i class="fa fa-long-arrow-right"> </i> </button>
                              </div>
                          </li>
                      </ul>
                      <ul class="social">
                          <li><a href="https://www.facebook.com/" target="_blank"><img class="img" src="https://www.windowscentral.com/sites/wpcentral.com/files/styles/large/public/topic_images/2014/Facebook.png?itok=X1VOy0t3" /></a></li>
                          <li><a href="https://www.instagram.com/?hl=en" target="_blank"><img class="img" src="https://img.clipartfest.com/d8983d94fecfb449e6c08687ea0609fb_instagram-new-vector-logo-instagram-logo-clipart-png_512-512.png" /></a></li>
                          <li><a href="https://twitter.com/" target="_blank"><img class="img" src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/1259px-Twitter_bird_logo_2012.svg.png" /></a></li>
                          <li><a href="https://www.pinterest.com/" target="_blank"><img class="img" src="http://seeklogo.com/images/P/pinterest-badge-logo-82C89A5E42-seeklogo.com.png" /></a></li>
                          <li><a href="https://www.youtube.com/" target="_blank"><img class="img" src="http://img.talkandroid.com/uploads/2014/06/YouTube_App_Large_Icon.png" /></a></li>
                      </ul>
                      
                    </center>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    </div>
</body>
</html>